html 
{
	font-family: Arial, Helvetica, sans-serif
}

p, li 
{
	font-size: 18px;
	line-height: 2;
	letter-spacing: 1px;
}

html 
{
	background-color: white;
	font-size: 40px;
}

body 
{
	width: auto;
	height: auto;
	margin: 0 auto;
	background-color: white;
	color: black;
	font-size: 15px;
	/*padding: 0 20px 20px 20px;*/
}

h1 /* For Latest Episode text*/
{
	font-size: 35px;
	text-align: left;
	margin: 0 auto;
	color: #406098;
	padding-top: 5px;
	padding-bottom: 5px;
}

h2 /* For RSS episode title*/
{
	font-size: 30px;
	text-align: left;
	margin: 0 auto;
	color: #b8b8d8;
	padding-top: 5px;
	padding-bottom: 5px;
}

h3 /* For RSS pubdate */
{
	font-size: 15px;
	text-align: left;
	margin: 0 auto;
	color: #406098;
	padding-top: 5px;
	padding-bottom: 5px;
}

h4 /* For RSS description */
{
	font-size: 15px;
	text-align: left;
	margin: 0 auto;
	color: #b8b8d8;
	padding-top: 5px;
	padding-bottom: 5px;
}

h5 /* For RSS links & show notes text */
{
	font-size: 20px;
	text-align: left;
	margin: 0 auto;
	color: #b8b8d8;
	padding-top: 5px;
	padding-bottom: 5px;
}

h6 /* For RSS contents  */
{
	font-size: 15px;
	text-align: left;
	margin: 0 auto;
	color: #b8b8d8;
	padding-top: 5px;
	padding-bottom: 5px;
}

p
{
	padding-left: 15px;
	padding-right: 0px;
	color: grey; 
}

b
{
	text-decoration: none;
}

/* Font Control Stuff */
A
{
	text-decoration: none; 
	color: #b8b8d8;
} 

C
{
	font-size: 30px; 
	padding-right:0px; 
	color:#b8b8d8;
}
@media (min-aspect-ratio: 1/1) /* if width greater than height */
{
    C 
	{
		font-size: 30px; 
    }
}
@media (max-aspect-ratio: 1/1) /* if height greater than width */
{
    C 
	{
		font-size: 0px; 
    }
}

D
{
	font-size: 20px; 
	padding-right:10px;
}

@media (min-aspect-ratio: 1/1) /* if width greater than height */
{
    D 
	{
		font-size: 20px; 
    }
}
@media (max-aspect-ratio: 1/1) /* if height greater than width */
{
    D
	{
		font-size: 0px; 
    }
}

.hunterlink
{
	color: #b8b8d8;
	text-decoration: none;
	
}

.hunterlink:hover
{
	color: #f8f8f8;
	text-decoration: none;
}

.subscribeContainer
{
	text-align: right; 
	font-size: 30px; 
	padding-bottom: 10px;
	padding-top: 15px; 
}
@media (min-aspect-ratio: 1/1) /* if width greater than height */
{
    .subscribeContainer
	{
		text-align: right; 
		font-size: 30px; 
		padding-bottom: 10px;
		padding-top: 195px; 
    }
}
@media (max-aspect-ratio: 1/1) /* if height greater than width */
{
    .subscribeContainer
	{
		text-align: center; 
		max-width: 74vw;
		max-height: 74vw;
		padding-right: 50px;
		padding-top: 0px; 
    }
}

.iconContainer 
{
	display: flex;
	align-items: center;
	justify-content: center
}

img
{
	display: block;
	width: auto;
	height: auto;
}
@media (min-aspect-ratio: 1/1) /* if width greater than height */
{
    img
	{
		max-width:250px;
		max-height:250px;
		padding-right: 50px;
    }
}
@media (max-aspect-ratio: 1/1) /* if height greater than width */
{
    img
	{
		max-width:74vw;
		max-height:74vw;
		padding-right: 50px;
    }
}

.image 
{
	flex-basis: 40%
}

.text 
{
	font-size: 20px;
	padding-left: 20px;
	padding-bottom: 0px;
}

hr 
{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.row:after 
{
	content: "";
	display: table;
	clear: both;
}

.columnheader
{
	float: left; 
	width: 30%;
}

.columnheaderLogo
{
	float: left; 
	width: 21%;
}

@media (min-aspect-ratio: 1/1) 
{
    .columnheaderLogo 
	{
		width: 21%;
    }
}
@media (max-aspect-ratio: 1/1) 
{
    .columnheaderLogo 
	{
		width: 70%;
    }
}

.columnheaderSub
{
	float: left; 
	width: 39%;
}

.columnheaderSubStyleController
{
	height:250px; 
	padding-top:0px; 
	padding-right:10px;
}
@media (max-aspect-ratio: 1/1) 
{
    .columnheaderSubStyleController
	{
		padding-right:0px;
    }
}


@media (min-aspect-ratio: 1/1) 
{
    .columnheaderSub
	{
		width: 39%;
		padding-top: 0px;
    }
}
@media (max-aspect-ratio: 1/1) 
{
    .columnheaderSub
	{
		width: 5%;
		padding-top: 0px;
    }
}

.columnside
{
	float: left; 
	width: 20%;
}
@media (min-aspect-ratio: 1/1) /* if width greater than height */
{
    .columnside 
	{
		width: 20%;
    }
}
@media (max-aspect-ratio: 1/1) /* if height greater than width */
{
    .columnside 
	{
		width: 10%;
    }
}

.column
{
	padding-top: 0%;
	float: left; 
	width: 60%;
}

@media (min-aspect-ratio: 1/1) /* if width greater than height */
{
    .column 
	{
		width: 60%;
    }
}
@media (max-aspect-ratio: 1/1) /* if height greater than width */
{
    .column 
	{
		width: 80%;
    }
}

@media (min-aspect-ratio: 1/1) /* if width greater than height */
{
    iframe 
	{
		width: 32vw; 
		height: 18vw; 
    }
}
@media (max-aspect-ratio: 1/1) /* if height greater than width */
{
    iframe 
	{
		width: 72vw; 
		height: 41vw; 
    }
}
